@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --custom-blue: #1B1B2F;

  --Max-width: 1400px;

  --blue: #1B1B2F;
}

@theme inline {

  --color-custom-blue: var(--custom-blue);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 
  --color-blue: var(--blue);
  --max-width-custom: var(--Max-width);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.inventory-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.inventory-scrollbar::-webkit-scrollbar-track {
    background: #1B1B2F;
    border-radius: 10px;
}

.inventory-scrollbar::-webkit-scrollbar-thumb {
    background: #21366B;
    border-radius: 10px;
}

.inventory-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #C8911A;
}  

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h2, h1, p {
  color: white;
}

.text_dinheiro {
  color: #C8911A;
}

.loja-container {
  height: 75vh;
}

.loja-container aside h2:hover{
  color: #C8911A;
}

.header-loja .text_dinheiro, .botao-sair-loja {
  width : clamp(100px,20.83vw,400px)
}

@media (max-width: 1105px) {
  .header-loja .text_dinheiro, .botao-sair-loja {
    width: clamp(100px,25vw,400px);
  }
  .header-loja .text_dinheiro {
    text-align: end;
  }
}

@media (max-height: 780px) {
  .loja-container {
    height: 70vh;
  }
  .loja-container aside h2{
    margin-bottom: 4.5vh;
  }
}

@media (max-height: 520px) {
  .loja-container aside h2{
    margin-bottom: 2vh;
  }
.divRanking {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ranking {
  width: 80%;
  margin: 20px;
  border-collapse: collapse;
  color: white;
  border: 4px solid #263e77;
}

.ranking th {
  background: #263e77;
  text-align: left;
  padding: 20px 32px;
  font-size: 20px;
}

.ranking td {
  padding: 28px 32px;
  border-bottom: 4px solid #263e77;
  font-size: 20px;
}

.ranking th:first-child,
.ranking td:first-child {
  width: 140px;
}

.ranking th:nth-child(3),
.ranking td:nth-child(3),
.ranking th:nth-child(4),
.ranking td:nth-child(4) {
  text-align: center;
}

.ranking td:nth-child(3) {
  color: #42c866;
}

.ranking td:nth-child(4) {
  color: #e5ad00;
}